* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.navbar {
    background: #b1040e;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 7.5px 10px 7.5px 70px;
}

.item-navbar {
    padding: 10px;
}
.item-navbar .button {
    padding: 9px 5px;
}

.item-navbar:not(.button) a:hover,
.item-navbar a:hover::after {
    color: #ccc;
}

.menu-navbar,
.submenu-list {   
    list-style-type: none;
}

.menu-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    position: relative;
    cursor: pointer;
}

.submenu-list {
    visibility: hidden;
    position: absolute;
    background: #88252a;
    width: max-content;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.submenu-list > .submenu-item {
    padding: 5px;
}

.submenu-item:hover {
    text-decoration: underline;
}

.submenu:hover .submenu-list {
    visibility: visible;
}

input {
    padding: 10px 100px 10px 10px;
    border: none;
    border-radius: 20px;
}

/* LIST OF MOVIES */

.heading {
    margin: 15px;
}

#movie-list, #search-list {
    margin: 10px;
}

.container-poster {
    float: left;
    width: 20%;
    padding: 5px;
}

.container-poster .poster {
    width: 100%;
    height: 400px;
    border: 1px solid #585454;
    border-radius: 10px;
    transition: opacity 0.2s ease-in-out;
}

.container-poster:hover .poster {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 5px 5px 5px #585454;
    transition: opacity 0.5s ease-in-out;
}

.movie-info {
    display: none;
}

@media(max-width: 1000px) {
    .container-poster {
        width: 25%;
    }
}

@media(max-width: 700px) {
    .container-poster {
        width: 50%;
    }
    .container-poster .poster {
        height: 360px;
    }
}

