* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.navbar {
    background: #b1040e;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 7.5px 10px 7.5px 70px;
}

.item-navbar {
    padding: 10px;
    font-size: 18px;
}
.item-navbar .button {
    padding: 9px 5px;
}

.item-navbar a:hover,
.item-navbar a:hover::after {
    color: #ccc;
}

.menu-navbar,
.submenu-list {
    list-style-type: none;
}

.menu-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    position: relative;
    cursor: pointer;
}

.submenu-list {
    visibility: hidden;
    position: absolute;
    background: #88252a;
    width: max-content;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.submenu-list > .submenu-item {
    padding: 5px;
}

.submenu-item:hover {
    text-decoration: underline;
}

.submenu:hover .submenu-list {
    visibility: visible;
}

input {
    padding: 10px 100px 10px 10px;
    border: none;
    border-radius: 20px;
}

/* LIST OF MOVIES */

.heading {
    margin: 15px;
}

#movie-list,
#search-list {
    margin: 10px;
}

.container-poster {
    float: left;
    width: 20%;
    padding: 5px;
}

.container-poster .poster {
    position: relative;
    height: 360px;
    /* border: 1px solid #585454; */
    border-radius: 10px;
    background-size: 100% 360px;
    /* background-repeat: no-repeat; */
    /* transition: opacity 0.2s ease-in-out; */
}

.container-poster .poster::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    overflow: hidden;
    opacity: 0;
    background-color: black;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    height: 50px;
    content: attr(data-text);
    transition: 0.5s;
}

.container-poster .poster:hover::after {
    opacity: 1;
}

.container-poster:hover .poster {
    cursor: pointer;
    box-shadow: 5px 5px 5px #585454;
}

.heart-icon {
    float: right;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
}

.container-poster:hover .heart-icon {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.movie-info {
    display: none;
}

@media(max-width: 1000px) {
    .container-poster {
        width: 25%;
    }
}

@media(max-width: 700px) {
    .container-poster {
        width: 50%;
    }
    .container-poster .poster {
        height: 360px;
    }

    .container-poster .poster::after {
        opacity: 1;
    }

    .container-poster:hover .poster {
        cursor: pointer;
        box-shadow: none;
    }

    .heart-icon {
        opacity: 1;
    }
}
