* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.navbar {
    background: #b1040e;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 7.5px 10px 7.5px 60px;
}

.item-navbar {
    padding: 10px;
    font-size: 18px;
}
.item-navbar .button {
    padding: 9px 5px;
}

.item-navbar a:hover,
.item-navbar a:hover::after {
    color: #ccc;
}

.menu-navbar,
.submenu-list {
    list-style-type: none;
}

.menu-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    position: relative;
    cursor: pointer;
}

.submenu-list {
    visibility: hidden;
    position: absolute;
    background: #88252a;
    width: max-content;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.submenu-list > .submenu-item {
    padding: 5px;
}

.submenu-item:hover {
    text-decoration: underline;
}

.submenu:hover .submenu-list {
    visibility: visible;
}

input {
    padding: 10px 100px 10px 10px;
    border: none;
    border-radius: 20px;
    width: 30%;
}

/* LIST OF MOVIES */

.heading {
    margin: 15px;
}

#movie-list,
#search-list {
    margin: 10px;
}

.container-poster {
    float: left;
    width: 20%;
    padding: 5px;
}

.container-poster .poster {
    position: relative;
    height: 360px;
    border-radius: 10px;
    background-size: 100% 360px;
}

.container-poster .poster::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    overflow: hidden;
    opacity: 0;
    background-color: black;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    height: 50px;
    content: attr(data-text);
    transition: 0.5s;
}

.container-poster .poster:hover::after {
    opacity: 1;
}

.container-poster:hover .poster {
    cursor: pointer;
    box-shadow: 5px 5px 5px #585454;
}

.button-icon {
    float: right;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
}

.button-icon:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.container-poster:hover .button-icon {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-movie {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 5px;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 0.4s;
    animation-name: animate;
    animation-duration: 0.4s
}

@-webkit-keyframes animate {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animate {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.left-side {
    margin: 0 20px;
}

.left-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side-content img {
    border-radius: 10px;
    width: 240px;
    height: 360px;
    border: 1px solid black;
}

.left-side-content button {
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    border: 2px solid #f44336;
    color: white;
}

.left-side-content button:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
}

.right-side div:not(.blank) {
    padding-bottom: 10px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 1000px) {
    .container-poster {
        width: 25%;
    }
}

@media(max-width: 700px) {
    
    .container-poster {
        width: 50%;
    }
    .container-poster .poster {
        height: 360px;
    }

    .container-poster .poster::after {
        opacity: 1;
    }

    .container-poster:hover .poster {
        cursor: pointer;
        box-shadow: none;
    }

    .button-icon {
        opacity: 1;
    }

    .modal-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .modal-content .right-side {
        margin-left: 15px;
    }
}
